# Firebase Configuration
# Get these values from your Firebase project settings
REACT_APP_FIREBASE_API_KEY=AIzaSyDIG7y7fNd2-vJDlMiVlgrUMDudMo7Wcks
REACT_APP_FIREBASE_AUTH_DOMAIN=goodfellows-a09e8.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=goodfellows-a09e8
REACT_APP_FIREBASE_STORAGE_BUCKET=goodfellows-a09e8.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=585424778367
REACT_APP_FIREBASE_APP_ID=1:585424778367:web:440069d1677463c07ebb4a

# const firebaseConfig = {
#   apiKey: "AIzaSyDIG7y7fNd2-vJDlMiVlgrUMDudMo7Wcks",
#   authDomain: "goodfellows-a09e8.firebaseapp.com",
#   projectId: "goodfellows-a09e8",
#   storageBucket: "goodfellows-a09e8.firebasestorage.app",
#   messagingSenderId: "585424778367",
#   appId: "1:585424778367:web:440069d1677463c07ebb4a",
#   measurementId: "G-N6KNKPKX6V"
# };
